@import "./header.css";
@import "./home.css";
@import "./apropos.css";
@import "./footer.css";
@import "./error.css";
@import "./detailLogement.css";
@import "./slider.css";

.app {
  width: 90%;
  margin: auto;
  height: 100vh;


}