.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;


}

ul a {
    text-decoration: none;
    color: #FF6060;

}

.logo {
    width: 100px;
    height: 30px;
    margin-top: 10px;

}

.activeLink {
    border-bottom: 1px solid #FF6060;

}


@media screen and (max-width: 767px) {
    ul {

        text-transform: uppercase;
        font-size: 10px
    }

    .logo {

        margin-top: 0px;

    }



}